:root {
	--main-color: #1e3282;
	--secondary-color: #0adeff;
	--alternative-color: #44e0bf;

	--font-family: Gilroy;
	--font-size-1: 14px;
	--font-size-2: 18px;
	--font-size-3: 20px;
	--font-size-4: 24px;
	--font-size-5: 40px;

	--spacing-1: 8px;
	--spacing-2: 16px;
	--spacing-3: 24px;
	--spacing-4: 40px;

	--headers-size-1: var(--font-size-3);
	--headers-size-2: var(--font-size-4);
}

/* fonts.css */
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Radomir Tinkov - Gilroy-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Radomir Tinkov - Gilroy-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Radomir Tinkov - Gilroy-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/Radomir Tinkov - Gilroy-Black.otf') format('opentype');
}

body {
	overflow-x: hidden;
}

main {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 var(--spacing-4) var(--spacing-4);
}

.button {
	display: block;
	width: fit-content;
	padding: var(--spacing-2) var(--spacing-3);
	margin: var(--spacing-4) auto;
	border-radius: var(--spacing-3);
	background: var(--alternative-color);
	background: linear-gradient(270deg, var(--alternative-color) 20%, var(--secondary-color) 100%);
	background-size: 100% 100%;
	font-family: var(--font-family);
	font-size: var(--font-size-3);
	font-weight: 300;
	color: var(--main-color);
	text-decoration: none;
	transition: ease-in-out 0.3s;

	&:hover {
		text-decoration: none;
		padding: var(--spacing-2) var(--spacing-4);
		background-position: right;
		background-size: 500% 100%;
		letter-spacing: 1px;
		box-shadow: 0 0 1px 1.5px var(--secondary-color);
	}
}

.intro {
	padding-bottom: var(--spacing-4);
	font-size: var(--font-size-4) !important;
}

.examples {
	position: relative;
	height: auto;
	padding-bottom: var(--spacing-4);

	&:before {
		position: absolute;
		content: ' ';
		display: block;
		width: 200vw;
		height: 100%;
		opacity: 0.07;
		background-color: var(--main-color);
		top: 0;
		left: -100vw;
	}
}

h1 {
	font-family: var(--font-family);
	font-size: var(--font-size-5);
	font-weight: 900;
	color: var(--main-color);
	max-width: 85%;
	margin-bottom: 24px;
}

h2 {
	font-family: var(--font-family);
	font-size: var(--font-size-4);
	font-weight: 700;
	margin: var(--spacing-4) 0;
	padding-top: var(--spacing-4);
	color: var(--main-color);
}

h3,
h4 {
	font-family: var(--font-family);
	font-size: var(--headers-size-2);
	font-weight: 700;
	color: var(--main-color);
	margin-bottom: 8px;
}

h5 {
	font-family: var(--font-family);
	font-size: var(--font-size-3);
	font-weight: 700;
	color: var(--main-color);
	display: block;
}

p,
li {
	font-family: var(--font-family);
	font-size: var(--font-size-3);
	font-weight: 300;
	color: var(--main-color);
	padding-bottom: var(--spacing-2);
	position: relative;
	width: 100%;

	& > a {
		text-underline-offset: 3px;
		text-decoration: underline;
		text-decoration-thickness: 1px;
	}
}

strong {
	font-family: var(--font-family);
	font-size: var(--font-size-3);
	font-weight: 700;
	color: var(--main-color);
	display: inline;
}

a {
	cursor: pointer;
	color: var(--main-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	text-align: left;
}

@media only screen and (max-width: 900px) {
	h1 {
		max-width: calc(100% - var(--spacing-4));
	}
}