:root {
	--main-color: #1e3282;
	--secondary-color: #0adeff;
	--alternative-color: #44e0bf;

	--font-family: Gilroy;
	--font-size-1: 14px;
	--font-size-2: 18px;
	--font-size-3: 20px;
	--font-size-4: 24px;
	--font-size-5: 40px;

	--spacing-1: 8px;
	--spacing-2: 16px;
	--spacing-3: 24px;
	--spacing-4: 40px;

	--headers-size-1: var(--font-size-3);
	--headers-size-2: var(--font-size-4);
}

/* fonts.css */
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Radomir Tinkov - Gilroy-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Radomir Tinkov - Gilroy-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Radomir Tinkov - Gilroy-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/Radomir Tinkov - Gilroy-Black.otf') format('opentype');
}

main {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 var(--spacing-4) var(--spacing-4);
}

.homepage_link {
	display: block;
	margin-bottom: var(--spacing-4);
}

h1 {
	font-family: var(--font-family);
	font-size: var(--font-size-5);
	font-weight: 900;
	color: var(--main-color);
	max-width: 600px;
	margin-bottom: 24px;
}

h2 {
	font-family: var(--font-family);
	font-size: var(--font-size-4);
	font-weight: 700;
	margin: var(--spacing-4) 0;
	color: var(--main-color);
}

h3,
h4 {
	font-family: var(--font-family);
	font-size: var(--headers-size-2);
	font-weight: 700;
	color: var(--main-color);
	margin-bottom: 8px;
}
p, li {
	font-family: var(--font-family);
	font-size: var(--font-size-3);
	font-weight: 300;
	color: var(--main-color);
	padding-bottom: var(--spacing-2);

	& > a {
		text-decoration: underline;
	}
}
a {
	color: var(--main-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
